* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#container {
  width: 300px;
  height: 250px;
  overflow: hidden;
  position: relative;
  top: 20px;
  left: 30px;
  font-family: "Roboto", sans-serif;
}
#img-1{
  width: 700px;
  height: 250px;
  background-repeat: no-repeat;
  overflow: hidden;
  animation: slide 10s ease;
  transform: translate3d(-200px,0 ,0);
}
@keyframes slide{
  0% {
    transform: translate3d(0 ,0, 0 );

  }
50%{
  transform: translate3d(-200px,0 ,0);
}
  
}
/* bg */
#back-1 {
  background-color: #080839;
  position: absolute;
  padding: 100px;
  width: 430px;
  height: auto;
  top: -50px;
  left: -195px;
  overflow: hidden;
  opacity: 0.8;
  transform: rotate(136deg) translateY(150px);
  border: 2px solid white;
  transition: all 1s ease;
}
#back-2 {
  background-color: #080839;
  position: absolute;
  padding: 100px;
  width: 641px;
  height: auto;
  bottom: -112px;
  right: -287px;
  overflow: hidden;
  opacity: 0.8;
  transform: rotate(136deg) translateY(-120px);
  border: 2px solid white;
  
  transition: all 1s ease;
}

/* text */
#text-1 {
  position: absolute;
  top: 22px;
  color: white;
  left: 40px;
  font-weight: 600;
  transform: translateX(-120px);
  transition: all 1s ease;
  
}
#text-2 {
  position: absolute;
  top: 45px;
  color: white;
  left: 40px;
  font-weight: 600;
  transform: translateX(-120px);
  transition: all 1s ease;
}
#text-3 {
  position: absolute;
  top: 70px;
  color: white;
  font-size: 11px;
  left: 40px;
  opacity: 0;
  transform: translate(0px);
  transition: all 1s ease;

}
#text-4 {
  position: absolute;
  bottom: 40px;
  font-size: 11px;
  right: 5px;
  padding: 5px;
  color: black;
  transform: translateX(100px);
  transition: all 1s ease;
}
#text-5 {
  position: absolute;
  bottom: 15px;
  font-size: 11px;
  right: 5px;
  color: white;
  transform: translateY(50px);
  transition: all 1s ease;
  opacity: 0;
}
#logo {
  width: 60px;
  position: absolute;
  top: 15px;
  right: 25px;
  transform: translateY(-50px);
  transition: all 1s ease;
  
}
